.App {
  min-height: 100vh;
}

.theme-light {
  background-color: rgb(216, 216, 216);
}

.theme-dark {
  background-color: rgb(74, 74, 74);
}

.form-control-dark {
  border: 1px solid black;
  border-color: black !important;
  background-color: #b7b7b7 !important;
}

.text-light {
  color: rgb(200, 200, 200);
}

.text-dark {
  color: rgb(24, 24, 24);
}

.navbar {
  height: 5.2rem;
}

.footer {
  font-size: 1.4rem;
}

.ThemeIcon {
  color: rgb(177, 177, 177);
  font-size: 2.4rem;
  padding-left: 1%;
  margin-bottom: 0.7%;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.task-header-dark {
  background-color: #d0d0d0 !important;
}

.task-body-dark {
  background-color: #a1a1a1 !important;
}

.task-body-border {
  border-radius: 0 0 5px 5px;
}

.task-not-found {
  height: 50vh;
  align-items: center;
}

.Home {
  align-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.date-field {
  padding-left: 4%;
  padding-bottom: 1.5%;
  padding-top: 1.5%;
  width: 100%;
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calender {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 40px;
  width: 100%;
}

.upcoming-deadlines {
  height: 60vh;
  overflow-y: scroll;
}

.update-modal-body {
  border-radius: 7px 7px 7px 7px;
}

.pagination-item a {
  color: black;
  font-weight: 700;
}

.page-link {
  border: 2px solid black !important;
}

.active span.page-link {
  background-color: rgb(47, 47, 47) !important;
  border: none;
}

.pagination-item a:hover {
  color: rgb(74, 74, 74);
  font-weight: 700;
}

.pagination-first {
  border-radius: 7px 0 0 7px;
}

.pagination-last {
  border-radius: 0 7px 7px 0;
}

.card-styling {
  width: 97%;
  height: 100%;
  border: 0.15rem solid black;
  cursor: pointer;
}

.boxes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

@media (max-width: 1000px) {
  .boxes {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1rem;
  }
}